# 파이썬으로 json 처리하기

# Json 이란?

json(JavaScript Object Notation)은 원래 자바스크립트에서 만들어진 데이터 표현방식으로 최근들어 사용이 부쩍 증가되고 있다. 예전에는 xml방식의 데이터 교환을 많이 했다면 요새는 거의 json으로 하는 추세이다.

json은 파이썬의 딕셔너리와 매우 비슷하게 생겼다.

딕셔너리 문자열 형

In [2]:
import json

In [3]:
>>> j1 = {"name":"홍길동", "birth":"0525", "age": 30}
>>> j1
{'age': 30, 'birth': '0525', 'name': '홍길동'}
>>> json.dumps(j1)
'{"age": 30, "birth": "0525", "name": "\\ubc15\\uc751\\uc6a9"}'

'{"age": 30, "birth": "0525", "name": "\\ubc15\\uc751\\uc6a9"}'

문자열을 보기좋게 정렬하려면 indent 옵션 추가

In [4]:
print(json.dumps(j1, indent=2))
{
  "age": 30,
  "birth": "0525",
  "name": "\ubc15\uc751\uc6a9"
}

{
  "name": "\ud64d\uae38\ub3d9",
  "birth": "0525",
  "age": 30
}

{'age': 30, 'birth': '0525', 'name': '박응용'}

리스트나 튜플도 json 문자열 변경

In [6]:
json.dumps([1,2,3])
'[1, 2, 3]'
json.dumps((4,5,6))
'[4, 5, 6]'

'[4, 5, 6]'

이번에는 json모듈의 loads 함수를 이용하여 만들어진 json 문자열을 파이썬 객체로 재변경

In [7]:
j1 = {"name":"홍길동", "birth":"0525", "age": 30}
d1 = json.dumps(j1)
json.loads(d1)
{'name': '홍길동', 'birth': '0525', 'age': 30}

{'age': 30, 'birth': '0525', 'name': '홍길동'}

In [12]:
c:/doit/myinfo.json

SyntaxError: invalid syntax (<ipython-input-12-2ac0403318e7>, line 1)

In [14]:
{
    "name": "홍길동",
    "birth": "0525",
    "age": 30
}

{'age': 30, 'birth': '0525', 'name': '홍길동'}

In [13]:
>>> with open('c:/doit/myinfo.json') as f:
...     data = json.load(f)
... 
>>> print(type(data))
<class 'dict'>
>>> print(data)
{'name': '홍길동', 'birth': '0525', 'age': 30}

SyntaxError: invalid syntax (<ipython-input-13-da7b0a3433f2>, line 5)

json 송수신

In [16]:
import json
import urllib.request

url = "http://ip.jsontest.com"

d = {'name': '홍길동', 'birth': '0525', 'age': 30}
params = json.dumps(d).encode("utf-8")
req = urllib.request.Request(url, data=params,
                             headers={'content-type': 'application/json'})
response = urllib.request.urlopen(req)
print(response.read().decode('utf8'))

{"ip": "116.125.190.12"}

# 07-6 소트

기본적으로 많이 사용되는 소트

In [18]:
a = [5, 3, 1, 4, 2]
sorted(a)
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

sort나 sorted의 key파라미터를 이용하여 소트

In [23]:
students = [
     ("jane", 22, 'A'),
     ("dave", 32, 'B'),
     ("sally", 17, 'B'),
    ]
sorted(students, key=lambda student: student[1])
[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [27]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))

In [31]:
student = Student('jane', 22, 'A')
print(student)
('jane', 22, 'A')

('jane', 22, 'A')

('jane', 22, 'A')

In [32]:
student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

In [33]:
result = sorted(student_objects, key=lambda student: student.age)
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

# operator 모듈

In [34]:
from operator import itemgetter

students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

result = sorted(students, key=itemgetter(1))

두번째 예제는 객체의 객체변수로 소트를 하기 때문에 다음과 같이 attrgetter를 대신 사용할 수 있다.

In [35]:
from operator import attrgetter

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))


student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(student_objects, key=attrgetter('age'))

# 순차 정렬과 역순 정렬

sort 또는 sorted함수에 reverse라는 파라미터를 이용하면 역순 정렬이 가능하다

In [36]:
sorted(student_objects, key=attrgetter('age'), reverse=True)

[('dave', 32, 'B'), ('jane', 22, 'A'), ('sally', 17, 'B')]

# 중첩 소트

In [38]:
result = sorted(student_objects, key=attrgetter('grade'))
sorted(result, key=attrgetter('age'))

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

나이 먼저 소트 그 다음 성적 소트

In [40]:
result = sorted(student_objects, key=attrgetter('age'))
sorted(result, key=attrgetter('grade'))

[('jane', 22, 'A'), ('sally', 17, 'B'), ('dave', 32, 'B')]