## Ch7-6

In [2]:
a = [5,3,1,4,2]
sorted(a)

[1, 2, 3, 4, 5]

In [3]:
a.sort()
a

[1, 2, 3, 4, 5]

In [4]:
b = {"c":90, "b":45, "a":88}
sorted(b)

['a', 'b', 'c']

In [5]:
students =[
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

In [6]:
sorted(students, key=lambda student: student[1])

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [7]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))

In [8]:
student = Student('jane',22,'A')

In [9]:
print(student.name)

jane

In [10]:
print(student.age)

22

In [11]:
print(student)

('jane', 22, 'A')

In [12]:
student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

In [13]:
sorted(student_objects, key=lambda student: student.age)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [15]:
from operator import itemgetter
result = sorted(students, key = itemgetter(1))
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [16]:
from operator import attrgetter
sorted(student_objects, key = attrgetter('age'))

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [17]:
sorted(student_objects, key=attrgetter('age'), reverse=True)

[('dave', 32, 'B'), ('jane', 22, 'A'), ('sally', 17, 'B')]

In [18]:
result = sorted(student_objects, key=attrgetter('grade'))
sorted(result, key=attrgetter('age'))

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [20]:
sorted(student_objects, key=attrgetter('grade'))

[('jane', 22, 'A'), ('dave', 32, 'B'), ('sally', 17, 'B')]

In [21]:
result = sorted(student_objects, key=attrgetter('age'))
sorted(result, key=attrgetter('grade'))

[('jane', 22, 'A'), ('sally', 17, 'B'), ('dave', 32, 'B')]