In [60]:
import json

In [66]:
j1 = {"name":"홍길동", "birth":"0525", "age": 30}
j1

{'age': 30, 'birth': '0525', 'name': '홍길동'}

In [67]:
json.dumps(j1)

'{"name": "\\ud64d\\uae38\\ub3d9", "birth": "0525", "age": 30}'

In [62]:
print(json.dumps(j1, indent=2))
{
  "age": 30,
  "birth": "0525",
  "name": "\ubc15\uc751\uc6a9"
}

{
  "name": "\ud64d\uae38\ub3d9",
  "birth": "0525",
  "age": 30
}

{'age': 30, 'birth': '0525', 'name': '박응용'}

In [69]:
json.dumps([1,2,3])

'[1, 2, 3]'

In [70]:
json.dumps((4,5,6))

'[4, 5, 6]'

In [71]:
j1 = {"name":"홍길동", "birth":"0525", "age": 30}
d1 = json.dumps(j1)
json.loads(d1)

{'age': 30, 'birth': '0525', 'name': '홍길동'}

In [73]:
with open('C:/Python/myinfo.json') as f:
    data = json.load(f)
    
print(type(data))

<class 'dict'>

In [74]:
print(data)

{'name': '홍길동', 'birth': '0525', 'age': 30}

In [76]:
import json
import urllib.request

url = "http://ip.jsontest.com"  # URL

d = {'name': '홍길동', 'birth': '0525', 'age': 30}
params = json.dumps(d).encode("utf-8")  
req = urllib.request.Request(url, data=params, headers={'content-type': 'application/json'})
response = urllib.request.urlopen(req)
print(response.read().decode('utf8'))

{"ip": "203.255.220.69"}

In [77]:
a = [5, 3, 1, 4, 2]
sorted(a)

[1, 2, 3, 4, 5]

In [78]:
a = [5, 3, 1, 4, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [79]:
b = {"c":90, "b":45, "a": 88}
sorted(b)

['a', 'b', 'c']

In [80]:
students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

In [81]:
sorted(students, key=lambda student: student[1])

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [82]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))

In [83]:
student = Student('jane', 22, 'A')
print(student.name)

jane

In [84]:
print(student.age)

22

In [85]:
student = Student('jane', 22, 'A')
print(student)

('jane', 22, 'A')

In [86]:
student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

In [87]:
result = sorted(student_objects, key=lambda student: student.age)
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [88]:
from operator import itemgetter

students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

result = sorted(students, key=itemgetter(1))

In [89]:
from operator import attrgetter

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))


student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(student_objects, key=attrgetter('age'))

In [90]:
sorted(student_objects, key=attrgetter('age'), reverse=True)

[('dave', 32, 'B'), ('jane', 22, 'A'), ('sally', 17, 'B')]

In [91]:
result = sorted(student_objects, key=attrgetter('grade'))
sorted(result, key=attrgetter('age'))

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [92]:
result = sorted(student_objects, key=attrgetter('age'))
sorted(result, key=attrgetter('grade'))

[('jane', 22, 'A'), ('sally', 17, 'B'), ('dave', 32, 'B')]