## 문제1

- s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 문자열의 슬라이싱 기능과 연결하기를 이용해 s의 값을 'KaKao Daum'으로 변경해 보세요

In [3]:
s = "Daum KaKao"
s = s[5:]+" " + s[0:4]
print(s)

KaKao Daum

## 문제2

- x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [6]:
x="abcdef"
x = x[1:]+ x[0]
print(x)

bcdefa

## 문제3
#### 문제 3-1

- 2015년 9월 초의 네이버 종가는 표 3.2와 같습니다. 09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_closing_price라는 이름의 리스트를 만들어보세요.

In [7]:
naver_closing_price = [474500,461500, 501000,500500,488500]
print(naver_closing_price)

[474500, 461500, 501000, 500500, 488500]

#### 문제 3-2

- 문제 3-1에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 높았던 가격을 출력하세요. (힌트: 리스트에서 최댓값을 찾는 함수는 max()이고, 화면에 출력하는 함수는 print()입니다.)

In [8]:
print(max(naver_closing_price))

501000

#### 문제 3-3

- 문제 3-1에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 낮았던 가격을 출력하세요. (힌트: 리스트에서 최솟값을 찾는 함수는 min()이고, 화면에 출력하는 함수는 print()입니다.)

In [9]:
print(min(naver_closing_price))

461500

#### 문제 3-4

- 문제 3-1에서 만든 naver_closing_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요.

In [10]:
print(max(naver_closing_price)-min(naver_closing_price))

39500

#### 문제 3-5

- 문제 3-1에서 만든 naver_closing_price를 이용해 수요일의 종가를 화면에 출력하세요.

In [11]:
print(naver_closing_price[2])

501000

#### 문제3-6

- 문제 3-1의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 종가를 딕셔너리의 값으로 사용해 naver_closing_price2라는 딕셔너리를 만드세요.

In [12]:
naver_closing_price2 = {"09/07":474500,"09/08":461500, "09/09":501000,"09/10":500500,"09/11":488500}
print(naver_closing_price2)

{'09/07': 474500, '09/08': 461500, '09/09': 501000, '09/10': 500500, '09/11': 488500}

#### 문제 3-7

- 문제 3-6에서 만든 naver_closing_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [14]:
print(naver_closing_price2["09/09"])

501000

#### 문제 4

- 아래와 같은 패턴의 별(*)을 출력하는 프로그램을 작성해 보세요.

In [16]:
star = 1
space = 4
while space >=0 :
    print(' '* space + '*'*star)
    star+= 1
    space -= 1

    *
   **
  ***
 ****
*****

#### 문제 5

- 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세 글자로만 구성된 리스트를 반환하는 함수를 작성하세요. 예를 들어, 함수의 입력으로 ['Seoul', 'Daegu', 'Kwangju', 'Jeju']가 입력될 때 함수의 반환값은 ['Seo', 'Dae', 'Kwa', 'Jej']입니다.

In [18]:
l =['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def thr(l):
    for i in range(0,len(l)):
        l[i]=l[i][0:3]
    return l
print(thr(l))

['Seo', 'Dae', 'Kwa', 'Jej']

#### 문제 6

- 다음의 조건을 만족하는 Point라는 클래스를 작성하세요.

In [36]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def setx(self,x):
        self.x = x
    def sety(self,y):
        self.y = y
    def get(self):
        return (self.x, self.y)
    def move(self, dx, dy):
        self.x += dx
        self.y += dy
    def place(self):
        print(self.x, self.y)
point = Point(3,2)
point.place()

point.move(3,2)
point.place()

point.setx(4)
point.place()

3 2
6 4
4 4