In [6]:
#6-1
def GuGu(n):
    result = []
    i = 1
    while i < 10:
        result.append(n * i)
        i = i + 1
    return result

print(GuGu(2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
#6-2 3과 5의 배수 합하기
#10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.
#1000미만의 자연수에서 3의 배수와 5의 배수의 총합을 구하라.

#1.먼저 1000 미만의 자연수를 구한다.
result = 0
for n in range(1,1000):
    if n % 3 == 0 or n % 5 == 0: #3과 5의 공배수를 중복시키지 않음.
        result += n
        
print(result)

233168

In [8]:
#6-3 게시판 페이징하기 (게시판의 페이지수를 보여주는것)
#게시물의 총 건수와 한 페이지에 보여줄 게시물 수를 입력받아 총 페이지수 출력
#총 페이지수 = 총 건수 / 한 페이지당 보여줄 건수 + 1

def getTotalPage(m, n):
    if m % n == 0:
        return m // n
    else:
        return m // n + 1

print(getTotalPage(5, 10))    # 1 출력
print(getTotalPage(15, 10))   # 2 출력
print(getTotalPage(25, 10))   # 3 출력
print(getTotalPage(30, 10))   # 4 출력

1
2
3
3

In [9]:
#6-4 간단한 메모장 만들기

# C:/Python/memo.py
import sys

option = sys.argv[1]
memo = sys.argv[2]

print(option)
print(memo)

-f
C:\Users\ㅁㅁ\AppData\Roaming\jupyter\runtime\kernel-6ed8f6fc-ae44-4a15-a0b8-1d14be925206.json

In [10]:
#6-5 탭을 4개의 공백으로 바꾸기

In [20]:
#7-5 파이썬으로 Json 처리하기

import json
j1 = {"name":"홍길동", "birth":"0525", "age": 30}
d1 = json.dumps(j1)

json.dumps(j1)
print(json.dumps(j1, indent=2))

print(json.dumps([1,2,3]))
print(json.dumps((4,5,6)))

#딕셔너리 객체를 json으로 변환(dumps)하고 변환된 json객체를 다시 딕셔너리로 변환(loads)할 수 있다.
json.loads(d1)

with open('C:/Users/ㅁㅁ/Desktop/myinfo.json') as f:
    data = json.load(f)
    
print(type(data))

<class 'dict'> 
    print(data)

SyntaxError: invalid syntax (<ipython-input-20-a584947268e0>, line 20)

In [21]:
#7-6-1 소트
a = [5, 3, 1, 4, 2]
sorted(a)

[1, 2, 3, 4, 5]

In [22]:
#7-6-2
a = [5, 3, 1, 4, 2]
a.sort()
a

[1, 2, 3, 4, 5]

In [23]:
#7-6-3
b = {"c":90, "b":45, "a": 88}
sorted(b)

['a', 'b', 'c']

In [24]:
#7-6-4 key를 이용하여 소트하기
students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]
sorted(students, key=lambda student: student[1])

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [33]:
#7-6-5 객체로 이루어진 리스트 소트하기
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))
    
student = Student('jane', 22, 'A')
print(student.name)
print(student.age)
print(student)
print('='*60)
student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(student_objects, key=lambda student: student.age)
print(result)
print('='*60)

jane
22
('jane', 22, 'A')
============================================================
[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]
============================================================

In [34]:
#operator 모듈
from operator import itemgetter

students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),
]

result = sorted(students, key=itemgetter(1))
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [42]:
from operator import attrgetter

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return repr((self.name, self.age, self.grade))


student_objects = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(student_objects, key=attrgetter('age'))
print(result)
print('='*60)

#역순정렿
sorted(student_objects, key=attrgetter('age'), reverse=True)

#중첩 소트
#성적으로 소트를 하고 그 다음에 나이순으로 소트
result = sorted(student_objects, key=attrgetter('age'))
sorted(result, key=attrgetter('grade'))

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]
============================================================

[('jane', 22, 'A'), ('sally', 17, 'B'), ('dave', 32, 'B')]